/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
*{
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow-x: hidden; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END RESET CSS*/

/*CONFIGURAÇÕES GLOBAIS*/
:root{
    --gray-one:#EEEEEE;
    --white: #ffffff;
    --gray-two: #b2b2b2;
    --green-one: #B2CE5D;
    --green-two: rgb(82, 105, 12);
    --black: #000000;
    --orange: #e68609;
    --back-green-alpha: rgb(11, 78, 34);
}

body{
    font-family: 'Raleway', 'Poppins', Helvetica, sans-serif;
}
.container{
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
}
button{
    background-color: var(--green-one);
    color: var(--black);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 800;    
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: var(--gray-two);
    color: var(--black);
}

/*END CONFIGURAÇÕES GLOBAIS*/

/*HEADER*/
header{
    width: 100vw;
    height: 80px;
    background-color: var(--gray-one);
}
header .container{
    justify-content: space-between;
    align-items: center;
}
header .contato{
    display: flex;
    align-items: center;    
}
header .contato .numero{
    font-family: 'Poppins';
    font-weight: 300;
    margin-right: 30px;
    font-size: 16pt;
    overflow-y: hidden
}

/*END HEADER*/

/*NAV*/
nav{
    background-color: #B2CE5D;
    height: 50px;
    text-transform: uppercase;
}
nav .container{
    align-items: center;
    justify-content: center;
}
nav .container ul{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 300;    
}
nav .container ul li{
    height: auto;
    overflow-y: hidden;
    margin-right: 2.5rem;
    font-size: 1rem;
    font-weight: 300;    
}
nav .container ul li{
    margin-right: 50px;
    overflow: hidden
}
nav ul a{
    text-decoration: none;
    color: var(--black);

}

nav ul a:hover{
    color: var(--white); 
    transition: 0.3s;
}
/*NAV*/

/*SECTION BANNER*/

.main-banner{
    overflow: hidden;
}
.main-banner .area-total-banner{
    width: 1000vw;
    height: 500px;
}
.main-banner .background-banner{
    width: 100vw;
    margin-left: -4px;
    height: 100%;
    background-image: url(../assets/imagens/moveis-para-eventos-festas.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
}
.main-banner .background-mask{
    background-color: rgba(11, 78, 34, 0.67);
    height: 100%;
    width: 100vw;
    margin: 0;
}
.main-banner .text-area{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.main-banner .text-area h1{
    font-size: 4rem;
    font-weight: 800;
    color: var(--white);
    text-align: center;
    line-height: 75px;
}
/*pointers*/
.pointer-area{
    width: 100vw;
    height: 14px;
    margin-top: -50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pointer-area .pointer{
    width: 14px;
    height: 14px;
    background-color: var(--gray-two);
    border-radius: 7px;
    cursor: pointer;
    margin-right: 15px;
}
.pointer-area .active{
    background-color: var(--green-one);
}

/*END SECTION BANNER*/